/venv/Lib/site-packages/
/venv/Scripts/f2py.exe
/venv/Scripts/uvicorn.exe
/sql_app.db-journal
/venv/Scripts/mjml.exe
/venv/Scripts/mjml-html-compare
/venv/Scripts/py.test.exe
/venv/Scripts/pytest.exe
/sql_app.db
/personal_data.py
/refresher.py
/venv/Scripts/futurize.exe
/venv/Scripts/futurize-script.py
/venv/Scripts/pasteurize.exe
/venv/Scripts/pasteurize-script.py
